.DS_Store
node_modules
lib/bower_components
build/css/*
build/js/core/*
build/templates/core/views/*
build/vendor/*
build/index.html
data
MyClassification
.ENV
settings
cache
spotify_appkey.key
src/dist/
src/server/log/
src/server/tmp/
.elasticbeanstalk/
Archive.zip
