@import "../../../../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../../../../node_modules/font-awesome/less/font-awesome.less";

body, html{
  background-color: @light-blue-500 !important;
  width: 100%;
  height: 100%;
}

.container{
  background-color: @light-blue-500;
  width: 100%;
  height: 100%;
}

.header-btn{
  margin-left: 5px;
}

.header-form{
  text-align: center;
  margin-bottom: 20px;
}

.centered{
  text-align: center;
}

.sp-info{
  width: 300px;
  margin: 0 auto;
  background-color: @light-blue-A400
}

.sp-title{
  width: 50%;
  margin: 0 auto;
}

.sp-artist{
  width: 50%;
  margin: 0 auto;
}

.controls{
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  border-width: 3px;
  background: @light-green-700;
}

.playlist {
  background:@amber-A200;
  display:inline-block;
  width:500px;
  height:410px;
  float: left;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding-top: 5px;
  padding-left: 10px;
}

.loading{
  margin-top: 27%;
}

.playlist-item{
  width: 100%;
  height: 41px;
}

.playlist-item-button{
  float: right;
  margin-left: 7px;
  padding-right: 10px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.futureList{
  .playlist;
  float: right;
}