<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Q-Rad.io</title>

    <!-- Favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='assets/quentin_favicon.png' />

    <!-- Bootstrap Core CSS -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="templates/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Q-Rad.io</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#team">The Team</a>
            </li>
            <li>
                <a href="#howItWorks">How It Works</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Q-Rad.io</h1>
            <h3>Let Quentin be your guide on the endless journey of music discovery</h3>
            <br>
            <a href="/auth/spotify" class="btn btn-green btn-lg">Login with Spotify</a>
        </div>
    </header>


    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About our Radio</h2>
                    <p class="lead">We all love music, but it’s hard to find new songs we enjoy. Introducing Quentin, your personalized music Q-rator who continuously learns your preferences and finds Rad music you will enjoy.
                    </p>
                    <p class="lead">Existing music players play full songs and focus on genre as a major criterion for recommendations,  making it difficult to quickly discover music. 
                    </p>
                    <p class="lead">Our app uses cutting-edge Javascript frameworks as well as Echonest and Spotify APIs to address this market need. 
                    </p>
                    <p class="lead">We named our project Q-Rad.io: Q for Quentin, your future songs queue manager; Rad.io since its a Rad radio. 
                    </p>

                    <p class="lead">Check out our <a target="_blank" href="https://github.com/Q-Radio/Q-Rad.io">Github Repo</a>.</p>
                    <a href="https://github.com/Q-Radio/Q-Rad.io"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Rapid music discovery engine powered by machine learning!</h1>
        </div>
    </aside>





    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="team" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>The Team</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa-stack-1x sasha"></i>
                            </span>
                                <h4>
                                    <strong>Sasha Bayan</strong>
                                </h4>
                                <p>React Front-End, User Interface, LESS styling, External API research, Front-End routing, Server configuration.</p>
                                <a href="https://github.com/SashaBayan" class="btn btn-light">Github Profile</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa-stack-1x eric"></i>
                            </span>
                                <h4>
                                    <strong>Eric Benson</strong>
                                </h4>
                                <p>Core-application logic, Machine Learning, API design, React/Flux data flow,  MongoDB/Mongoose schema design and queries, Gulp configuration.</p>
                                <a href="https://github.com/ericbenson" class="btn btn-light">Github Profile</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa-stack-1x zach"></i>
                            </span>
                                <h4>
                                    <strong>Zach Lopez</strong>
                                </h4>
                                <p>Custom Spotify Player, Machine Learning, AWS Deployment, Passport Authentication, Testing, Documentation.</p>
                                <a href="https://github.com/zdlopez" class="btn btn-light">Github Profile</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa quentin-login fa-stack-2x"></i>
                            </span>
                                <h4>
                                    <strong>Quentin</strong>
                                </h4>
                                <p>Playlist Q-rator, voracious learner, and all around great guy. </p>
                                <a href="#top" class="btn btn-light">Q-Rad.io</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="howItWorks" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How it works</h2>
                    <p class="lead">var RadSlice =FullSong.slice(30seconds);
                    </p>
                    <p class="lead">After you log in, Quentin generates a queue of RadSlices based on your prior interaction with him. 
                    </p>
                    <p class="lead">RadSlices of songs are then played and you can rate the radness of the radslice to continually re-calibrate Quentin’s machine learning algorithm. 
                    </p>
                    <p class="lead">Based on your feedback, Quentin dynamically updates the upcoming Radslices to reflect the user’s preferences. 
                    </p>
                    <p class="lead">If at any moment you really likes a song you may listen to the full version on Spotify. 
                    </p>
                    <p class="lead">You can also add songs to a personal spotify playlist called "Quentin's Rad Tracks" directly from the radio. 
                    </p>
                    <p class="lead">Check out our <a target="_blank" href="https://github.com/Q-Radio/Q-Rad.io">Github Repo</a>.</p>
                    <a href="https://github.com/Q-Radio/Q-Rad.io"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Lets meet Quentin</h3>
                    <a href="/auth/spotify" class="btn btn-green btn-lg">Login with Spotify</a>
                </div>
            </div>
        </div>
    </aside>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Q-Rad.io</strong>
                    </h4>
                    <p>San Francisco, CA </p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/Q-Radio/Q-Rad.io"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Q-Rad.io 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="templates/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="templates/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
